<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intolergy.intolergy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/intolergy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/intolergy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/register_name"></activity>
        <activity android:name=".SearchRestaurant"
            android:label="@string/search_restaurant"></activity>
    </application>

</manifest>